{% extends 'base.html' %}

{% block title %}
    <h2 class="section-title">{{ book.name }}</h2>
{% endblock %}

{% block content %}

<!--<div class="col-md-4 col-sm-6">-->
<!--    <div class="single-banner">-->
        <div class="product-wrapper">
            <a href="#" class="single-banner-image-wrapper">
                <img alt="" src="{{ book.image.url }}">
                <div class="price"><span>$</span>{{ book.price }}</div>
            </a>
        </div>

        <div class="banner-bottom text-center">
            <div class="banner-bottom-title">
<!--                <a href="#">{{ book.name }}</a>-->
                <h4>{{ book.content }}</h4>
            </div>
        </div>
<!--    </div>-->
<!--</div>-->

{% endblock %}